[submodule "VSBOT/TestPorts/Common_Components/Abstract_Socket_CNL113384"]
	path = VSBOT/TestPorts/Common_Components/Abstract_Socket_CNL113384
	url = https://github.com/eclipse/titan.TestPorts.Common_Components.Abstract_Socket
[submodule "VSBOT/TestPorts/TELNETasp_CNL113320"]
	path = VSBOT/TestPorts/TELNETasp_CNL113320
	url = https://github.com/eclipse/titan.TestPorts.TELNETasp
[submodule "VSBOT/Libraries/TCCUsefulFunctions_CNL113472"]
	path = VSBOT/Libraries/TCCUsefulFunctions_CNL113472
	url = https://github.com/eclipse/titan.Libraries.TCCUsefulFunctions
[submodule "VSBOT/TestPorts/HTTPmsg_CNL113312"]
	path = VSBOT/TestPorts/HTTPmsg_CNL113312
	url = https://github.com/eclipse/titan.TestPorts.HTTPmsg
[submodule "SIP_ETSI/TestPorts/SIPmsg"]
	path = SIP_ETSI/TestPorts/SIPmsg
	url = https://github.com/eclipse/titan.TestPorts.SIPmsg
[submodule "SIP_ETSI/Libraries/TCCUsefulFunctions"]
	path = SIP_ETSI/Libraries/TCCUsefulFunctions
	url = https://github.com/eclipse/titan.Libraries.TCCUsefulFunctions
[submodule "DIAMETER_Rx_ETSI/titan.TestPorts.TCPasp"]
	path = DIAMETER_Rx_ETSI/titan.TestPorts.TCPasp
	url = https://github.com/eclipse/titan.TestPorts.TCPasp
[submodule "DIAMETER_Rx_ETSI/titan.TestPorts.SCTPasp"]
	path = DIAMETER_Rx_ETSI/titan.TestPorts.SCTPasp
	url = https://github.com/eclipse/titan.TestPorts.SCTPasp
[submodule "DIAMETER_Rx_ETSI/titan.TestPorts.SIPmsg"]
	path = DIAMETER_Rx_ETSI/titan.TestPorts.SIPmsg
	url = https://github.com/eclipse/titan.TestPorts.SIPmsg
[submodule "DIAMETER_Rx_ETSI/titan.ProtocolModules.MIME"]
	path = DIAMETER_Rx_ETSI/titan.ProtocolModules.MIME
	url = https://github.com/eclipse/titan.ProtocolModules.MIME
[submodule "DIAMETER_Rx_ETSI/titan.Libraries.TCCUsefulFunctions"]
	path = DIAMETER_Rx_ETSI/titan.Libraries.TCCUsefulFunctions
	url = https://github.com/eclipse/titan.Libraries.TCCUsefulFunctions
[submodule "DIAMETER_Rx_ETSI/titan.TestPorts.Common_Components.Abstract_Socket"]
	path = DIAMETER_Rx_ETSI/titan.TestPorts.Common_Components.Abstract_Socket
	url = https://github.com/eclipse/titan.TestPorts.Common_Components.Abstract_Socket
[submodule "CoAP_Conf/TestPorts/titan.TestPorts.Common_Components.Socket-API"]
	path = CoAP_Conf/TestPorts/titan.TestPorts.Common_Components.Socket-API
	url = https://github.com/eclipse/titan.TestPorts.Common_Components.Socket-API
[submodule "CoAP_Conf/TestPorts/titan.TestPorts.IPL4asp"]
	path = CoAP_Conf/TestPorts/titan.TestPorts.IPL4asp
	url = https://github.com/eclipse/titan.TestPorts.IPL4asp
[submodule "CoAP_Conf/ProtocolModules/titan.ProtocolModules.CoAP"]
	path = CoAP_Conf/ProtocolModules/titan.ProtocolModules.CoAP
	url = http://git.eclipse.org/gitroot/titan/titan.ProtocolModules.CoAP
[submodule "CoAP_Conf/Libraries/titan.Libraries.TCCUsefulFunctions"]
	path = CoAP_Conf/Libraries/titan.Libraries.TCCUsefulFunctions
	url = https://github.com/eclipse/titan.Libraries.TCCUsefulFunctions
[submodule "DIAMETER_Rx_ETSI/titan.ProtocolModules.SDP"]
	path = DIAMETER_Rx_ETSI/titan.ProtocolModules.SDP
	url = http://git.eclipse.org/gitroot/titan/titan.ProtocolModules.SDP
